## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"

In [3]:
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
str="The diameter of {} is {} kilometers."
print(str.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [35]:
d = {'t1':[1,2,3,{'tricky':['hey','guys','inception',{'target':[1,2,3,'hello']}]}]}

In [36]:
d['t1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
List is mutable and Tuple is immutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [33]:
def findDomain(input):
    return input.split('@')[1]

In [34]:
findDomain('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def findDog(input):
    return 'dog' in input.lower().split()

In [14]:
findDog("Is dog is there")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [30]:
def cntDog(input):
    count=0
    for i in input.lower().split():
        if i=='dog':
            count +=1
    return count

In [32]:
cntDog("The count of dog in the sentence of finding dog count in this function")

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [38]:
def speed_(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [39]:
speed_(81,False)

'Big Ticket'

In [40]:
speed_(66,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [41]:
salary_list = [10000,40000,52000,60000,65500]
sum = 0
for i in salary_list:
    sum += i
print(sum)

227500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [25]:
d1 = {'Empid':101,'Empname':'Jayashri','Basicpay':20000}

In [26]:
d2 = {'DeptName':'IT','DeptId':200}

In [27]:
d1.update(d2)

In [28]:
d1

{'Empid': 101,
 'Empname': 'Jayashri',
 'Basicpay': 20000,
 'DeptName': 'IT',
 'DeptId': 200}